<template name="contact">
    <!-- PAGE | CONTACT -->
    <div class="pages black-bg white page-contact" id="contacto" style=" background-image: url({{ dict 'contactImage.url' }});
  background-position: center;
  background-size: cover;">
        <div class="container">
        <br><br>
            <!-- Header -->
            <header>
                <h1 class="line-divider">{{ dict 'contactTitle' }}</h1>
                <div class="row">
                    <div class="span8 offset2">
                        <p>
                            {{ dict 'contactSubtitle' }}
                        </p>
                    </div>
                </div>
            </header>
            <!-- End Header -->

            <!-- Start Article -->
            <article>
                <div class="row-fluid">
                    <!-- Contact form -->
                    <div class="span5 offset1">
                        <h5>Escríbenos</h5>
                        {{# unless contactSent }}
                            {{# autoForm schema='ContactSchema' id="contactForm" type="method" meteormethod="sendContact" }}
                                {{> afQuickField name="title" placeholder="Titulo" class="span12" label=false }}
                                {{> afQuickField name="email"  placeholder="Email" class="span12" label=false }}
                                {{> afQuickField name="message"  placeholder="Mensaje" rows=10 class="span12" label=false }}
                                <button style="background: black;" type="submit" class="btn btn-primary">Enviar</button>
                            {{/ autoForm }}
                        {{ else }}
                            <div>
                                <p>{{ dict 'contactSentMessage' }}</p>
                            </div>
                        {{/ unless }}
                    </div>
                    <!-- End Contact form -->
                    <!-- Contact information -->
                    <div class="span4 offset1">
                        <h5>Conócenos</h5>
                        <div class="media">
                            <div class="pull-left">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="media-body smallFontBy08" style="padding-top: 1px;">
                                {{ dict 'contactDirection' }}
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <div class="media-body smallFontBy08" style="padding-top: 2px;">
                                {{ dict 'contactEmail' }}
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <h5>Get social</h5>
                        <div class="social-icons sicon-white bordered">
                            <a target="_BLANK" href="{{ dict 'facebook' }}" class="sicon-facebook"><i class="fa fa-facebook"></i></a>
                            <a target="_BLANK" href="{{ dict 'twitter' }}" class="sicon-twitter"><i class="fa fa-twitter"></i></a>
                            <a target="_BLANK" href="{{ dict 'youtube' }}" class="sicon-youtube"><i class="fa fa-youtube"></i></a>
                            <a target="_BLANK" href="{{ dict 'instagram' }}" class="sicon-instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <!-- End Contact information -->
                </div>
            </article>
            <!-- End Article -->

        </div>

        <!-- Background map image -->
        <div id="map-image" style="background-color: rgb(152, 180, 213)">
            <img src="http://www.gridelicious.com/themes/treble/demo/assets/images/pages/contact/map_bck.jpg">
        </div>
    </div>
    <!-- END PAGE | CONTACT -->
</template>
