<template name="contact">
    <!-- PAGE | CONTACT -->
    <div class="pages black-bg white page-contact" id="contacto">
        <div class="container">
        <br><br>
            <!-- Header -->
            <header>
                <h1 class="line-divider">{{ dict 'contactTitle' }}</h1>
                <div class="row">
                    <div class="span8 offset2">
                        <p>
                            {{ dict 'contactSubtitle' }}
                        </p>
                    </div>
                </div>
            </header>
            <!-- End Header -->

            <!-- Start Article -->
            <article>
                <div class="row-fluid">
                    <!-- Contact form -->
                    <div class="span4 offset1">
                        <h5>Escríbenos</h5>
                        <!--
                        <form ng-show="!contact_success">
                            <input type="text" ng-model="contact.title" class="span12" placeholder="Title">
                            <div class="alert alert-error" ng-show="contact_errors.title">{{ contact_errors.title[0] }}</div>
                            <input type="email" ng-model="contact.email" class="span12" placeholder="Email">
                            <div class="alert alert-error" ng-show="contact_errors.email">{{ contact_errors.email[0] }}</div>
                            <textarea rows="10" ng-model="contact.message" class="span12"></textarea>
                            <div class="alert alert-error" ng-show="contact_errors.message">{{ contact_errors.message[0] }}</div>
                            <a style="background: black;" ng-disabled="contact_loading" type="submit" ng-click="sendContact()" class="btn btn-primary">
                                <span ng-show="!contact_loading">Enviar</span>
                                <span ng-show="contact_loading">Enviando...</span>
                            </a>
                        </form>
                        -->
                        <div class="" ng-show="contact_success">
                        <p>{{ dict 'contactSentMessage' }}</p>
                        </div>
                    </div>
                    <!-- End Contact form -->
                    <!-- Contact information -->
                    <div class="span4 offset1">
                        <h5>Conócenos</h5>
                        <div class="media">
                            <div class="pull-left">
                                <i class="fa fa-phone"></i>
                            </div>
                            <div class="media-body smallFontBy08" style="padding-top: 1px;">
                                {{ dict 'contactPhone' }}
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <i class="fa fa-map-marker"></i>
                            </div>
                            <div class="media-body smallFontBy08" style="padding-top: 1px;">
                                {{ dict 'contactDirection' }}
                            </div>
                        </div>
                        <div class="media">
                            <div class="pull-left">
                                <i class="fa fa-envelope-o"></i>
                            </div>
                            <div class="media-body smallFontBy08" style="padding-top: 2px;">
                                {{ dict 'contactEmail' }}
                            </div>
                        </div>
                        <br/>
                        <br/>
                        <br/>
                        <h5>Get social</h5>
                        <div class="social-icons sicon-white bordered">
                            <a target="_BLANK" href="{{ dict 'facebook' }}" class="sicon-facebook"><i class="fa fa-facebook"></i></a>
                            <a target="_BLANK" href="{{ dict 'twitter' }}" class="sicon-twitter"><i class="fa fa-twitter"></i></a>
                            <a target="_BLANK" href="{{ dict 'youtube' }}" class="sicon-youtube"><i class="fa fa-youtube"></i></a>
                            <a target="_BLANK" href="{{ dict 'instagram' }}" class="sicon-instagram"><i class="fa fa-instagram"></i></a>
                        </div>
                    </div>
                    <!-- End Contact information -->
                </div>
            </article>
            <!-- End Article -->

        </div>

        <!-- Background map image -->
        <div id="map-image" style="background-color: rgb(152, 180, 213)">
            <img src="http://www.gridelicious.com/themes/treble/demo/assets/images/pages/contact/map_bck.jpg">
        </div>
    </div>
    <!-- END PAGE | CONTACT -->
</template>