<template name="subscribe">
    <div class="pages white" id="newsletter-subscribe" style="padding-top: 12px;">
        <div class="container">
            <div class="row-fluid">
                <div class="span8 offset2">
                    {{# unless newsletterSent }}
                        {{# autoForm schema='ContactSchema' id="subscribeForm" type="method" meteormethod="sendNewsletter" }}
                            <div class="span3" style="padding-top: 0px; font-size: 16px;">
                                <p class="text-center">Subscríbete a nuestro newsletter</p>
                            </div>
                            <div class="span3" style="margin-top: 10px;">
                                {{> afQuickField name="email"  placeholder="Email" class="span12" label=false }}
                            </div>
                            <div class="span3" style="margin-top: 10px;">
                                {{> afQuickField name="message" placeholder="Que banda quieres ver?" class="span12" label=false }}
                            </div>
                            <div class="span3" style="margin-top: 10px;">
                                <button type="submit" class="btn btn-primary btn-block">ENVIAR</button>
                            </div>  
                        {{/ autoForm }}
                    {{ else }}
                        <div class="text-center">
                            <p><i class="fa fa-check"></i></p>
                        </div>
                    {{/ unless }}
                </div>
            </div>
        </div>
    </div>
</template>