<template name="header">
    <!-- NAVIGATION -->
    <nav class="fixed-top fixed-visable" id="navigation">
        <div class="container">
            <div class="row-fluid">
                <div class="span10 offset1 center">
                    <!-- LOGO -->
                    <a class="brand pull-left" href="{{ pathFor 'index' }}">
                        <img src="{{ dict 'navLogo.url' }}" style="height: 25px !important;">
                    </a>
                    <!-- END LOGO -->
                    
                    <!-- MOBILE MENU BUTTON -->
                    <a class="mobile-menu visible-phone" data-toggle="collapse" data-target=".nav-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </a>
                    <!-- END MOBILE MENU BUTTON -->

                    <!-- MAIN MENU -->
                    <ul id="main-menu" class="nav-collapse collapse">
                        <li class="{{ isActiveRoute regex='home' }}">
                            <a href="{{ pathFor 'home' }}">Home</a>
                        </li>
                        <li class="{{ isActiveRoute regex='nextEvents' }}">
                            <a href="{{ pathFor 'nextEvents.index' }}">Proximos Eventos</a>
                        </li>
                        <li class="{{ isActiveRoute regex='pastEvents' }}">
                            <a href="{{ pathFor 'pastEvents.index' }}">Eventos Pasados</a>
                        </li>
                        <li class="{{ isActiveRoute regex='news' }}">
                            <a href="{{ pathFor 'news.index' }}">News</a>
                        </li>
                        <li class="{{ isActiveRoute regex='contact' }}">
                            <a href="{{ pathFor 'contact' }}">Contacto</a>
                        </li>
                    </ul>

                    <!-- SOCIAL ICONS -->
                    <div class="social-icons hover-big pull-right">
                        <a target="_BLANK" href="{{ dict 'facebook' }}" class="sicon-facebook"><i class="fa fa-facebook"></i></a>
                        <a target="_BLANK" href="{{ dict 'twitter' }}" class="sicon-twitter"><i class="fa fa-twitter"></i></a>
                        <a target="_BLANK" href="{{ dict 'youtube' }}" class="sicon-youtube"><i class="fa fa-youtube"></i></a>
                        <a target="_BLANK" href="{{ dict 'instagram' }}" class="sicon-instagram"><i class="fa fa-instagram"></i></a>
                    </div>
                    <!-- END SOCIAL ICONS -->
                </div>
            </div>
        </div>
    </nav>
</template>