<body>
	<style type="text/css">

	body {
		background-color: {{ dict 'colorsBackground' '#fff' }};
		color: {{ dict 'colorsTexts' '#292929' }};
	}

	#page-welcome h1 {
		color: #fff;
	}

	h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
		color: {{ dict 'colorsTextsSecondary' '#bbb' }};
	}

	.page-blog .read-more a {
		background-color: {{ dict 'colorsTextsSecondary' '#bbb' }};
	}

	.next-events .well.item-detail {
		background-color: {{ dict 'colorsNextEventsBackground' '#f5f5f5' }};
		border-color: {{ dict 'colorsNextEventsBackground' '#f5f5f5' }};
		color: {{ dict 'colorsNextEventsTexts' '#292929'}}
	}

	#navigation {
		background-color: {{ dict 'colorsHeaderBackground' '#fff' }}
	}

	#navigation #main-menu a, #navigation .social-icons.hover-big a {
		color: {{ dict 'colorsHeaderText' '#292929' }};
	}

	#newsletter-subscribe {
		background-color: {{ dict 'colorsSubscribeBackground' '#000' }};
		color: {{ dict 'colorsSubscribeText' '#CACACA' }};
	}

	#newsletter-subscribe .btn {
		background-color: {{ dict 'colorsSubscribeButton' 'rgb(38, 38, 38)' }};
		background-image: none;
		border-color: {{ dict 'colorsSubscribeButton' 'rgb(38, 38, 38)' }};
	}

	h1 {
		color: {{ dict 'colorsTitles' '#292929' }};
	}

	</style>
</body>