<template name="pastEventsIndex">
	<div class="container past-events" id="next-events">
		<h1 class="line-divider text-center">{{ dict 'pastEventsTitle' }}</h1>
		<div class="row-fluid">
			<div class="span10 offset1">
				<div class="row-fluid masonry">
					{{# each pastEvents }}
						<div class="span3 item mansonry-item">
							<div class="box">
								<a href="{{ pathFor 'pastEvents.show' }}">
									<div class="item-container" style="background-image:url('{{ image.url }}');">
										<div class="text">
											<p class="title">{{ name }}</p>
											<p class="date">{{ date }}</p>
											<p class="place">{{ place }}</p>
										</div>
									</div>
								</a>
							</div>
						</div>
					{{/ each }}
				</div>
			</div>
		</div>
	</div>
</template>

<template name="pastEventsShow">
	<div class="container">
		<div class="span10 offset1">
			<h5 class="line-divider text-center">{{ event.name }}</h5>

			<div class="row-fluid">
	            <div class="span12">
	            	<div id="pastEventsShowCarousel" class="carousel slide">
						<ol class="carousel-indicators">
							{{# each images }}
								<li data-target="#pastEventsShowCarousel" data-slide-to="{{ index }}" class="{{# if isCero index }}active{{/ if }}"></li>
							{{/ each }}
						</ol>
						<!-- Carousel items -->
						<div class="carousel-inner">
							{{# each images }}
								<div class="item {{# if isCero index }}active{{/ if }}">
									<center>
			                            <img src="{{ url }}" style="max-width: 100%; max-height: 600px;">
			                        </center>
								</div>
							{{/ each }}
						</div>
						<!-- Carousel nav -->
						<a class="carousel-control left" href="#pastEventsShowCarousel" data-slide="prev">&lsaquo;</a>
						<a class="carousel-control right" href="#pastEventsShowCarousel" data-slide="next">&rsaquo;</a>
					</div>
	            </div>
	        </div>
		</div>
	</div>
	<style type="text/css">
	.nav, .pagination, .carousel, .panel-title a { cursor: pointer; }

	.carousel-indicators{
	    display: none;
	}
	</style>
</template>